################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LightInsight/CopilotIndices/17.13.439.2385
/.vs/LightInsight/DesignTimeBuild/.dtbcache.v2
/.vs/LightInsight/FileContentIndex/65063b8b-5f73-401a-ab86-25c749809900.vsidx
*.bin
*.vsidx
*.v2
/.vs/LightInsight/copilot-chat/db2638f7/sessions/4c01c2e3-52ed-475b-952c-4c1bd7e04389
/.vs/LightInsight/v17/.suo
*.json
*.dll
/LightInsight/bin/Debug
/LightInsight/obj/Debug/Dashboard/Dashboard
/LightInsight/obj/Debug/Dashboard/Camera/Client
/LightInsight/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LightInsight/obj/Debug/LightIns.319CC643.Up2Date
/LightInsight/obj/Debug/LightInsight.csproj.AssemblyReference.cache
/LightInsight/obj/Debug/LightInsight.csproj.CoreCompileInputs.cache
/LightInsight/obj/Debug/LightInsight.csproj.FileListAbsolute.txt
/LightInsight/obj/Debug/LightInsight.csproj.GenerateResource.cache
/LightInsight/obj/Debug/LightInsight.g.resources
/LightInsight/obj/Debug/LightInsight.pdb
/LightInsight/obj/Debug/LightInsight.Properties.Resources.resources
/LightInsight/obj/Debug/LightInsight_MarkupCompile.cache
/LightInsight/obj/Debug/LightInsight_MarkupCompile.i.cache
/LightInsight/obj/LightInsight.csproj.nuget.dgspec.json
/LightInsight/obj/LightInsight.csproj.nuget.g.targets
/LightInsight/obj/project.assets.json
/LightInsight/obj/project.nuget.cache
