################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LightInsight/CopilotIndices/17.13.439.2385
/.vs/LightInsight/DesignTimeBuild/.dtbcache.v2
/.vs/LightInsight/FileContentIndex/65063b8b-5f73-401a-ab86-25c749809900.vsidx
*.bin
*.vsidx
*.v2
